*{
    margin: 0;
    padding: 0;

}
body{ 
      
    background-color: rgb(35, 84, 90);
    

}

#cajero{
    width: 430px;
    height: 430px;
    background-color: rgb(102, 102, 102);
    border: rgb(117, 117, 117) 3px inset;
    
    margin: 100px auto;
    border-radius: 30px;
    padding: 5px;
}
#header{
    
    height: 235px;
    margin: 1px ;
    padding: 1px;
    border-radius: 15px;
    display: flex;
    

}
#aside1{
     width: 50px;
     height: 200px;
     border-radius: 15px;
     margin: 1px;
     margin-top: 30px;
     padding-left: 1px;
     display: flex;
     justify-content: end;
     align-items: center;   
}
.triangulo{
    width: 0;
    height: 0;
    border-right: 20px solid white;
    margin: 4px;
    border-top: 8px solid transparent;
    border-bottom: 7px solid transparent;
}
.triangulo1{
    width: 0;
    height: 0;
    border-left: 20px solid white;
    margin-left: 7px;
    border-top: 8px solid transparent;
    border-bottom: 7px solid transparent;
}
#centro{
    width: 310px;
    height: 200px;
    background-color: rgb(231, 229, 99);
    border: rgb(85, 85, 85) 9px inset;
    
    margin-top: 5px;
    border-radius: 15px;   

}
#aside2{
    width: 50px;
    height: 200px;
    border-radius: 15px;
    margin: 1px ;
    margin-top: 30px;
    padding-right: 1px;
    display: flex;
     justify-content: start;
     align-items: center;
    
}
#main{
    height: 190px;
    margin: 1px ;
    padding: 1px;
    border-radius: 15px;
    display:flex;
    

    
}
.tecladus {
    width: 150px;
    height: 180px;
    border-radius: 15px;
    margin: 1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    
}
#opera{
    width: 81px;
    height: 180px;
    border-radius: 15px;
    margin-left: 10px ;
    margin-right: 10px;
    padding-top: 2px;    
}
#exter{
    width: 170px;
    height: 180px;
    
    border-radius: 15px;
    margin: 1px ;
}





.tecladus button{

    width: 37px;
    height: 32px;
    margin: 5px;
    margin-bottom: 8px;
    border-radius: 7px;
    font-size: 20px;
    border: rgb(68, 68, 68) 3px inset;
    transition: all 0.25s;
    cursor: pointer;
  
}
.numero{
    width: 150px;
    height: 180px;
    flex-direction: column;
    display: flex; 
    align-items: center; 
}

.numero button:hover{
    box-shadow: 0px 0px 12px gold;
}
.op button{
    height: 37px;
    width: 87px;
    padding: 6px;
    margin-top: 2px;
    margin-bottom: 4px;
    border-radius: 7px;  
    cursor: pointer;
}
.op button:hover{
    box-shadow: 0px 0px 12px rgb(54, 54, 54);
}

.op div{
    
    text-align: center;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
}
.arriba{
    width: 65px;
    height: 5px;
    background-color: black;
    border: rgba(104, 103, 103, 0.712) 8px inset;
    border-radius: 6px;
}
.mo1{
    width: 80px;
    height:40px;
    margin-left: 2px;
}
.moneda{
    padding-top: 10px;
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.abajo{
    width: 150px;
    height: 5px;
    background-color: black;
    border: rgba(95, 95, 95, 0.712) 10px inset;
    border-radius: 6px;
    
}
.billete{
    width: 170px;
    height: 105px; 
    padding-top: 20px;
     
}
.b1{
    width: 165px;
    height: 40px;
    margin: 0px auto;
    padding-top: 10px;
}
.lado1{
    
    width: 35px;
    height: 150px;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end;
     

}

 button.l1{
    width: 35px;
    height: 27px;
    border-radius: 5px;
    background-color: rgb(49, 49, 49);
    color: white;
    border: rgb(66, 66, 66) 1px inset;
    cursor: pointer;

}
.lado1 button:hover{
    box-shadow: 0px 0px 12px rgb(1,1,1);
}
.lado2 button:hover{
    box-shadow: 0px 0px 12px rgb(1,1,1);
}
.lado2{
    
    width: 35px;
    height: 150px;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end;
}
.contra{
    width: 175px;
    height: 22px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: rgb(233, 227, 162);
}

.contenido {
    width: 310px;
    height: 180px;
    margin-top: 10px;
    
}











 
     
     














